{% extends "_layout.html" %}
{% block title %}
    Edit Profile
{% endblock%}

{% block content %}

{% if errors %}
{% for error in errors %}
    <div class="alert alert-danger show w-75 d-flex mx-auto">
        {{ error }}
    </div>
{% endfor %}
{% endif %}

{% if not user.profile_privacy %}
    <h1 class="mt-3 mb-3">Edit Account <span class="badge badge-primary">Public</span></h1>
{% else %}
    <h1 class="mt-3 mb-3">Edit Account <span class="badge badge-info">Private</span></h1>
{% endif %}

<form action="{{ url_for('users.update', id=user.id) }}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="users.update">Username:</label>
        <input type="text" class="form-control mb-3 p-0" name="user_name" value="{{ user.user_name }}">
        <label for="users.update">Email:</label>
        <input type="email" class="form-control mb-3 p-0" name="email" value="{{ user.email }}">
        <label for="users.update">Password:</label>
        <input type="password" class="form-control" name="password">
        <label for="users.update">Upload Profile Image:</label>
        <input type="file" name="user_file">
    </div>
    <button type="submit" class="btn btn-warning">Update</button>
</form>

<form class="mt-3" action="{{ url_for('users.update_profile_privacy', id=user.id) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    {% if not user.profile_privacy %}
        <input class="btn btn-outline-info" type="submit" name="profile_privacy" value="Make Profile Private">
    {% else %}
        <input class="btn btn-outline-info" type="submit" name="profile_privacy" value="Make Profile Public">
    {% endif%}

</form>

<hr class="my-4">

{% endblock %}