<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src="https://js.braintreegateway.com/web/dropin/1.16.0/js/dropin.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>

    {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "home_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block header %}
    {% endblock %}

    <title>{% block title %}{% endblock %}| Flaskagram</title>
  </head>
  <body class="bg-light">
      <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top">
        <div class="container">
          <div class="collapse navbar-collapse d-flex justify-content-between mt-2 mb-2" id="navbarSupportedContent">
            <a href="/">
              <img src="https://s3.amazonaws.com/flaskagram-next/33instagram-logo.png2019-03-14_041326.230982"
                    alt="instagram logo" 
                    style="width:125px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div>
              <form class="form-inline" action="{{ url_for('users.search', query=query) }}" method="POST">
                  <input class="form-control mr-sm-2 ml-5 rounded-0 text-center bg-light" style="width: 215px; height: 28px; font-size: 12px;" name="search" type="search" placeholder="Search" aria-label="Search">
                  <span class="text-secondary"><i class="fas fa-search"></i></span>
              </form>
            </div>
            <ul class="navbar-nav">
              {% if current_user.is_anonymous %}
              <li class="nav-item">
                <a class="nav-link text-white btn btn-primary btn-sm mr-2" href="{{ url_for ('sessions.new') }}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-primary text-sm" href="{{ url_for ('users.new') }}" style="font-size: 14px;">Sign Up</a>
              </li>
              {% endif %}
              {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link mr-3 disabled" href="#" style="font-size: 14px;">My Feed</a>
              </li>
              <li class="nav-item dropdown mr-2">
                <div class="d-flex">
                  <span><img class="border rounded-circle my-auto mx-auto" width="35px;" src="{{current_user.profile_image_url}}" alt="User Profile Image"></span>
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 14px;">
                    {{current_user.first_name}}
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for ('users.show', id=current_user.id) }}" style="font-size: 14px;">My Profile</a>
                    <a class="dropdown-item" href="{{ url_for ('users.edit', id=current_user.id) }}" style="font-size: 14px;">Edit Profile</a>
                    <!-- if there are follower requests -->
                    <!-- <a class="dropdown-item" href="{{ url_for ('users.request', id=current_user.id) }}" style="font-size: 14px;">View Follower Requests<span class="border border-danger rounded text-center text-white bg-danger ml-2 px-2">{{ follow_requests|length }}</span></a> -->
                    <!-- else -->
                    <a class="dropdown-item" href="{{ url_for ('users.request', id=current_user.id) }}" style="font-size: 14px;">View Follower Requests</a>
                  </div>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light btn btn-danger btn-sm" href="{{ url_for ('sessions.logout') }}" style="font-size: 14px;">Logout</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>

      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category, message in messages %}
          <div id="flash" class="mt-3 alert alert-{{ category }} w-75 text-center d-block mx-auto">
              {{ message }}
          </div>
      {% endfor %}
      {% endif %}
      {% endwith %}

    <!-- Liren's advice to keep footer at bottom regardless of content space -->
    <!-- Add a min-height style that wraps block content where 100vh - (height of navbar + height of footer) -->
    <div class="container" style="min-height: 83vh;">
      {% block content %}
        <!-- All partial template content rendered here -->
      {% endblock %}
    </div>

    <footer class="footer text-dark text-center mt-3" style="font-size: 14px;">
      <div class="container">
        © 2019 INSTAGRAM
      </div>
    </footer>

    <script>setTimeout("$('.alert').alert('close')", 3000)</script>

  </body>
</html>
