{% extends "_layout.html" %}
{% block title %}
  Home
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}

    <h1>Home - Flaskagram</h1>
  
  {% if errors %}
  {% for error in errors %}
      <div class="alert alert-danger show w-75 d-flex mx-auto">
          {{ error }}
      </div>
  {% endfor %}
  {% endif %}

{% if current_user.is_authenticated %}
  <h3>Welcome, {{current_user.first_name}} {{current_user.last_name}}</h3>
  <img src= {{current_user.profile_image_url}} alt="Profile Image">
{% endif %}

{% endblock %}